services:
  netalertx:
    container_name: netalertx
    image: ghcr.io/jokob-sk/netalertx:latest
    restart: unless-stopped
    read_only: true
    network_mode: host

    cap_drop: # Drop all capabilities for enhanced security
      - ALL
    cap_add: # Add only the necessary capabilities
      - NET_ADMIN # Required for ARP scanning
      - NET_RAW # Required for raw socket operations
      - NET_BIND_SERVICE
    volumes:
      - type: volume
        source: netalertx_data
        target: /data
        read_only: false
      - /etc/localtime:/etc/localtime:ro
    environment:
      - LISTEN_ADDR=${LISTEN_ADDR:-0.0.0.0}
      - TZ=${TZ}
      - PORT=${PORT:-20211}
      - GRAPHQL_PORT=${GRAPHQL_PORT:-20212}
    tmpfs:
      - /tmp:uid=20211,gid=20211,mode=1700,rw,noexec,nosuid,nodev,async,noatime,nodiratime

volumes:
  netalertx_data:
    external: true
    